.maps-block {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 375px;
}

.maps-google {
  height: 400px;
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
  mask-image: url(../../assets/mask.svg);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
  overflow: hidden;
}

.maps-coordinates {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 10px;
  text-transform: capitalize;
}
