.maps-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.maps-google {
  height: 400px;
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
  mask-image: url(../../assets/mask.svg);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
  overflow: hidden;
}

.maps-coordinates {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.6rem;
  text-transform: capitalize;
}

@media (max-width: 425px) {
  .maps-google {
    height: 95vw;
    width: 90vw;
  }
}
