.weather-block {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.weather-title h1 {
  font-size: 4.4rem;
  font-weight: bold;
  line-height: 5.4rem;
  text-transform: uppercase;
}

.weather-title h3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 4rem;
}

.weather-today {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 1rem;
}

.today-left {
  display: flex;
  margin-right: 2rem;
}

.left-temp {
  font-size: 30.6rem;
  font-weight: bold;
  line-height: 30.6rem;
}

.left-degrees {
  font-size: 10rem;
  font-weight: bold;
  line-height: 1;
  /* margin-top: 4rem; */
  /* margin-right: 1rem; */
}

.today-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.today-icon {
  height: 100px;
  width: 160px;
}

.today-summary {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 3rem;
}

.weather-days {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-top: 1rem;
}

.weather-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
}

.weather-day h5 {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 2.7rem;
}

.day-summary {
  display: flex;
}

.day-summary span {
  font-size: 8rem;
  font-weight: 600;
  line-height: 9.8rem;
}

.day-icon {
  height: 44px;
  width: 66px;
  margin-top: 1rem;
  margin-left: 1rem;
}

@media (max-width: 425px) {
  .weather-block {
    width: unset;
  }

  .weather-title {
    text-align: center;
  }

  .weather-title h1 {
    font-size: 3.6rem;
    line-height: 4rem;
  }
  .weather-today {
    flex-direction: column;
    align-items: center;
  }

  .today-left {
    margin: 0;
    text-align: center;
  }

  .left-temp {
    font-size: 24rem;
    line-height: 24rem;
  }

  .today-icon {
    align-self: center;
  }

  .today-summary {
    margin-top: 2rem;
  }

  .weather-days {
    flex-direction: column;
    margin-top: 3rem;
  }

  .weather-day {
    width: unset;
  }
}
