.weather-block {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.city-country {
  font-size: 4.4rem;
  font-weight: bold;
  line-height: 5.4rem;
  text-transform: uppercase;
}

.date-time {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 4rem;
}

.city {
  margin-right: 1rem;
}

.city::after {
  content: ',';
}

.date {
  margin-right: 1rem;
}

.weather-today {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 1rem;
}

.today-left {
  display: flex;
  margin-right: 2rem;
}

.left-temp {
  font-size: 22rem;
  font-weight: bold;
  line-height: 1;
}

.left-degrees {
  font-size: 8rem;
  font-weight: bold;
  line-height: 1;
}

.today-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.today-icon {
  width: 120px;
}

.today-summary {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
}

.ms {
  text-transform: lowercase;
}

.weather-days {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-top: 1rem;
}

.weather-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
}

.weather-day h5 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1;
}

.day-summary {
  display: flex;
}

.day-summary span {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
}

.day-icon {
  width: 40px;
  /* margin-top: 1rem; */
  margin-left: 1rem;
}

@media (max-width: 1024px) {
  .weather-title {
    text-align: center;
  }
}

@media (max-width: 425px) {
  .weather-block {
    width: unset;
  }

  .city-country {
    display: flex;
    flex-direction: column;
    font-size: 3.2rem;
    line-height: 3.6rem;
  }

  .city {
    margin-right: 0;
  }

  .city::after {
    content: none;
  }

  .weather-today {
    flex-direction: column;
    align-items: center;
  }

  .today-left {
    margin: 0;
    text-align: center;
  }

  .left-temp {
    font-size: 20rem;
    line-height: 20rem;
  }

  .today-icon {
    align-self: center;
  }

  .today-summary {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .weather-days {
    flex-direction: column;
    margin-top: 3rem;
  }

  .weather-day {
    width: unset;
  }

  .weather-day h5 {
    font-size: 2rem;
  }
}
