.maps-here {
  background-image: url(../../assets/europe.jpg);
  mask-image: url(../../assets/mask.svg);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
  overflow: hidden;
}

@media (max-width: 425px) {
  .maps-here {
    height: 95vw;
    width: 90vw;
  }
}
