.search-city {
  display: flex;
  position: relative;
  width: 375px;
}

.search-input {
  height: 44px;
  width: 274px;
  background: rgba(76, 82, 85, 0.4);
  border: 1px solid rgba(228, 227, 227, 0.2);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  color: #ffffff;
  font-family: 'Montserrat', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
  font-size: 1.4rem;
  line-height: 1;
  outline: none;
  padding-right: 4.4rem;
  padding-left: 2rem;
}

.search-input::placeholder {
  color: #ffffff;
}

.search-input:focus::placeholder {
  opacity: 0;
}

.search-voice {
  position: absolute;
  right: 116px;
  top: 14px;
  cursor: pointer;
}

.search-submit {
  height: 44px;
  width: 101px;
  background: rgba(174, 181, 185, 0.5);
  border: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Montserrat', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1;
  outline: none;
  text-transform: uppercase;
}

.search-submit:hover {
  background: rgba(174, 181, 185, 0.8);
}

@media (max-width: 767px) {
  .search-city {
    margin-top: 1rem;
  }
}

@media (max-width: 424px) {
  .search-city {
    width: unset;
    margin-top: 1rem;
  }

  .search-input {
    width: 200px;
    padding-right: 3.2rem;
    padding-left: 1.4rem;
  }

  .search-voice {
    right: 100px;
  }

  .search-submit {
    width: 90px;
  }
}
